<%# 리스트 4-31 hello/list.html.erb %>

<% @books.each do |book| %>
  <tr>
    <td style="background-color:<%= cycle('#FFffFF', '#FFff99') %>">
      <%= book.isbn %></td>
    <td  style="background-color:<%= current_cycle %>">
      <%= book.title %></td>
      ...생략...
  </tr>
<% end %>
</table>
